//fonts
$font-openSans: "Open Sans", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;

//colors
$white: #FFFFFF;
$red: #E52A24;
$black-background: #000000;
$red-background: #EB3434;
$light-red-background: #BA0804;
$background-text: #C2CDE2


