body {
  padding: 30px;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 30px solid #563d7c;
  background: url("../img/body-bg.jpg") no-repeat  center;
  background-size: cover;
}
header,footer,main,section{
  width: 100%;
  background: rgba(0,0,0,.7);
}
h1,h2,h3{
  text-align: center;
  color: #f1f1f1;
  font-family: 'Museo Sans Cyrl 700';
  margin: 0;
  width: 100%;
}
h1{
  font-size: 6vw;
}
h2{
  font-size: 8vw;
}
h3{
  font-size: 6vw;
}